@media screen and (min-width: 768px) {

    .data {
        position: absolute;
        top: 40px;
        left: 20px;
        width: 300px;
    }

    .weather {
        position: absolute;
        bottom: 40px;
        right: 20px;
        width: 250px;
    }

    .weather-icon {
        display: none;
    }

    .weather h2::after {
        content: " ⛅";
    }
}