@media screen and (min-width: 768px) {

    #menuBtn {
        display: none;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}